<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidexamples.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".flows.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".flows.gestures.ZoomableImageActivity"
            android:label="@string/zoomable_imageview"
            android:parentActivityName=".flows.gestures.GesturesActivity" />
        <activity
            android:name=".flows.views.SearchViewActivity"
            android:label="@string/search_view"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.viewpager.SlidingTabLayoutActivity"
            android:label="@string/sliding_tab_layout"
            android:parentActivityName=".flows.viewpager.ViewPagerActivity" />
        <activity
            android:name=".flows.views.XmlSelectorsActivity"
            android:label="@string/xml_selectors"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.views.OtherViewsActivity"
            android:label="@string/other_views"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.views.GridViewActivity"
            android:label="@string/gridview"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.viewpager.ViewPagerActivity"
            android:label="@string/view_pager"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.viewpager.ViewPagerTitleActivity"
            android:label="@string/view_pager_with_title"
            android:parentActivityName=".flows.viewpager.ViewPagerActivity" />
        <activity
            android:name=".flows.viewpager.SimpleViewPagerActivity"
            android:label="@string/simple_view_pager"
            android:parentActivityName=".flows.viewpager.ViewPagerActivity" />
        <activity
            android:name=".flows.viewpager.IntroSliderActivity"
            android:label="@string/intro_slider"
            android:parentActivityName=".flows.viewpager.ViewPagerActivity" />
        <activity
            android:name=".flows.views.ImageSwitcherActivity"
            android:label="@string/image_switcher"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.views.WebViewSwipeRefreshActivity"
            android:label="@string/web_view_swipe_refresh"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.toolbar.ActionBarToolbarActivity"
            android:label="@string/actionbar_toolbar"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.gestures.GesturesActivity"
            android:label="@string/gestures"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.gestures.DraggableViewActivity"
            android:label="@string/draggable_view"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.views.DrawingShapesActivity"
            android:label="@string/drawing_shapes"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.fragments.FragmentsActivity"
            android:label="@string/fragments"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.views.RecyclerViewActivity"
            android:label="@string/recycler_view"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.views.SpinnerCompleteCheckActivity"
            android:label="@string/spinner_complete_check"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.SaveInstanceStateActivity"
            android:label="@string/save_instance_state"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.animations.activityAnimations.AnimationsActivity"
            android:label="@string/animations"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.animations.viewAnimations.AnimationDrawableActivity"
            android:label="@string/animation_drawable"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.animations.viewAnimations.AlphaActivity"
            android:label="@string/alpha"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.animations.viewAnimations.RotateActivity"
            android:label="@string/rotate"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.animations.viewAnimations.TranslateActivity"
            android:label="@string/translate"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.animations.viewAnimations.ScaleActivity"
            android:label="@string/scale"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.animations.viewAnimations.AnimationSetActivity"
            android:label="@string/animation_set"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.animations.viewAnimations.AnimationListenerActivity"
            android:label="@string/animation_listener"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.animations.viewAnimations.ViewFlipperActivity"
            android:label="@string/view_flipper"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.ViewAnimatedActivity"
            android:label="@string/view_animated"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.AnimLayoutChangesActivity"
            android:label="@string/anim_layout_changes"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.handlers.HandlerAsyncTaskActivity"
            android:label="@string/handler_async_task"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.handlers.HandlerMessageActivity"
            android:label="@string/handler_message"
            android:parentActivityName=".flows.handlers.HandlerAsyncTaskActivity" />
        <activity
            android:name=".flows.handlers.ReDownloadImage"
            android:label="@string/redownload_image"
            android:parentActivityName=".flows.handlers.HandlerAsyncTaskActivity" />
        <activity android:name=".flows.handlers.SplashScreenActivity" />
        <activity
            android:name=".flows.animations.activityAnimations.TestActivity"
            android:label="@string/test_activity" />
        <activity
            android:name=".flows.animations.viewAnimations.ViewAnimationsActivity"
            android:label="@string/view_animations"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.animations.activityAnimations.ActivityAnimationsActivity"
            android:label="@string/activity_animations"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.handlers.AsyncTaskActivity"
            android:label="@string/async_task"
            android:parentActivityName=".flows.handlers.HandlerAsyncTaskActivity" />
        <activity
            android:name=".flows.views.FabWithSnackBarActivity"
            android:label="@string/fab_with_snackbar"
            android:parentActivityName=".flows.views.OtherViewsActivity" />
        <activity
            android:name=".flows.animations.activityAnimations.RevealEffectActivity"
            android:label="@string/reveal_effect"
            android:parentActivityName=".flows.animations.activityAnimations.AnimationsActivity" />
        <activity
            android:name=".flows.PaletteActivity"
            android:label="@string/palette"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.toolbar.StandAloneToolbarActivity"
            android:label="@string/stand_alone_toolbar"
            android:parentActivityName=".flows.toolbar.ActionBarToolbarActivity" />
        <activity
            android:name=".flows.NavigationDrawerActivity"
            android:label="@string/navigation_drawer"
            android:parentActivityName=".flows.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NavDrawer" />
        <activity android:name=".flows.BaseActivity" />
        <activity
            android:name=".flows.toolbar.CollapsingToolbarLayoutActivity"
            android:label="@string/collapsing_toolbar_layout"
            android:parentActivityName=".flows.toolbar.ActionBarToolbarActivity" />
        <activity
            android:name=".flows.PreferenceScreenActivity"
            android:label="@string/preference_screen"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.toolbar.ContextActionBarActivity"
            android:label="@string/context_action_bar"
            android:parentActivityName=".flows.toolbar.ActionBarToolbarActivity" />
        <activity
            android:name=".flows.IntentsActivity"
            android:label="@string/intents"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.broadcastReceiver.BroadcastReceiverActivity"
            android:label="@string/broadcast_receiver"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.broadcastReceiver.SimpleBroadcastActivity"
            android:label="@string/static_broadcast"
            android:parentActivityName=".flows.MainActivity" />
        <activity
            android:name=".flows.broadcastReceiver.DynamicBroadcastActivity"
            android:label="@string/dynamic_broadcast"
            android:parentActivityName=".flows.MainActivity" />

        <receiver android:name=".broadcast.StaticBroadcastReceiver">
            <intent-filter>
                <action android:name="Katiau" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".flows.broadcastReceiver.LocalBroadcastActivity"
            android:label="@string/local_broadcast"
            android:parentActivityName=".flows.MainActivity" />
        <activity android:name=".flows.notifications.NotificationsActivity"
            android:label="@string/notifications"
            android:parentActivityName=".flows.MainActivity"/>
    </application>

</manifest>