<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcos.androidexamples">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activity.ZoomableImageActivity"
            android:label="@string/button_zoomable_imageview"
            android:parentActivityName=".app.activity.GesturesActivity" />
        <activity
            android:name=".app.activity.SearchViewActivity"
            android:label="@string/button_search_view"
            android:parentActivityName=".app.activity.ToolbarActivity" />
        <activity
            android:name=".app.activity.ToolbarWithTabsActivity"
            android:label="@string/button_toolbar_tabs"
            android:parentActivityName=".app.activity.ToolbarActivity" />
        <activity
            android:name=".app.activity.XmlSelectorsActivity"
            android:label="@string/button_xml_selectors"
            android:parentActivityName=".app.activity.MainActivity" />
        <activity
            android:name=".app.activity.ViewsLayoutActivity"
            android:label="@string/button_views_layout"
            android:parentActivityName=".app.activity.MainActivity" />
        <activity
            android:name=".app.activity.GridViewActivity"
            android:label="@string/button_gridview"
            android:parentActivityName=".app.activity.ViewsLayoutActivity" />
        <activity
            android:name=".app.activity.ViewPagerTypesActivity"
            android:label="@string/button_viewpager"
            android:parentActivityName=".app.activity.MainActivity" />
        <activity
            android:name=".app.activity.ViewPagerTitleActivity"
            android:label="@string/button_viewpager_title"
            android:parentActivityName=".app.activity.ViewPagerTypesActivity" />
        <activity
            android:name=".app.activity.ViewPagerActivity"
            android:label="@string/button_viewpager"
            android:parentActivityName=".app.activity.ViewPagerTypesActivity" />
        <activity
            android:name=".app.activity.IntroSliderActivity"
            android:label="@string/button_intro_slider"
            android:parentActivityName=".app.activity.ViewPagerTypesActivity" />
        <activity
            android:name=".app.activity.ImageSwitcherActivity"
            android:label="@string/button_image_switcher"
            android:parentActivityName=".app.activity.ViewsLayoutActivity" />
        <activity
            android:name=".app.activity.WebViewActivity"
            android:label="@string/button_webview"
            android:parentActivityName=".app.activity.ViewsLayoutActivity" />
        <activity
            android:name=".app.activity.ToolbarActivity"
            android:label="@string/button_toolbar"
            android:parentActivityName=".app.activity.MainActivity" />
        <activity
            android:name=".app.activity.GesturesActivity"
            android:label="@string/button_gestures"
            android:parentActivityName=".app.activity.MainActivity" />
        <activity
            android:name=".app.activity.DragImageActivity"
            android:label="@string/button_drag_image"
            android:parentActivityName=".app.activity.MainActivity" />
        <activity
            android:name=".app.activity.DrawingShapesActivity"
            android:label="@string/button_drawing_shapes"
            android:parentActivityName=".app.activity.ViewsLayoutActivity" />
        <activity
            android:name=".app.activity.FragmentsActivity"
            android:label="@string/button_fragments"
            android:parentActivityName=".app.activity.MainActivity" />
        <activity
            android:name=".app.activity.HelloWorldFragmentActivity"
            android:label="@string/button_helloworld_fragment"
            android:parentActivityName=".app.activity.FragmentsActivity" />
        <activity
            android:name=".app.activity.RecyclerViewActivity"
            android:label="@string/button_recycler_view"
            android:parentActivityName=".app.activity.ViewsLayoutActivity" />
        <activity android:name=".app.activity.SpinnerCompleteCheckActivity"
            android:label="@string/button_spinner_complete_check"
            android:parentActivityName=".app.activity.ViewsLayoutActivity"/>
    </application>

</manifest>