<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcos.androidexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activity.PinchZoomImageActivity"
            android:label="@string/button_pinch_zoom" />
        <activity
            android:name=".app.activity.SearchViewActivity"
            android:label="@string/button_search_view"
            android:parentActivityName=".app.activity.MainActivity" />
        <activity
            android:name=".app.activity.ToolbarWithTabsActivity"
            android:label="@string/button_toolbar_tabs" />
        <activity android:name=".app.activity.XmlSelectorsActivity"
            android:label="@string/button_xml_selectors"/>
    </application>

</manifest>